@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="profile-menu-div">
        <a href="@Url.Action("Messages", "Account")">Сообщения</a>
        <a href="@Url.Action("ProfileSettings", "Account")">Настройки аккаунта</a>
        <a>Настройки контента</a>
    </div>

    <div id="profile-data-div">
        @RenderBody()
    </div>
</div>

@Styles.Render("~/Content/Pages/Account/_ProfileLayout")
@Scripts.Render("~/bundles/Pages/Account/_ProfileLayout")