@using Recaptcha.Web.Mvc
@model Models.InputModels.RegistrationInputModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="middle-form" action="@Url.Action("Register")" method="POST">
    @{
        <p>@Html.ValidationSummary()</p>
        <p>Email</p>
        <p> @Html.EditorFor(i => i.Email)</p>
        <p>Логин</p>
        <p> @Html.EditorFor(i => i.Login)</p>
        <p>Пароль</p>
        <p> @Html.EditorFor(i => i.Password)</p>
        <div data-create="dialog-buttons"></div>
    }
</form>
<div id="message-div">
     <div data-create="separate-line"></div>
    <p id="message"></p>
</div>

@Scripts.Render("~/bundles/Account/Register")
@Styles.Render("~/Pages/Account/Register/css")