@model Models.InputModels.Account.RegistrationInputModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="middle-size" action="@Url.Action("Register")" method="POST">
    @{
        <p>@Html.ValidationSummary()</p>
        <p>Email</p>
        <p> @Html.EditorFor(i => i.Email)</p>
        <p>Логин</p>
        <p> @Html.EditorFor(i => i.Name)</p>
        <p>Пароль</p>
        <p> @Html.EditorFor(i => i.Password)</p>
        <div data-create="dialog-buttons"></div>
    }
</form>
<div id="message-div">
     <div data-create="separate-line"></div>
    <p id="message"></p>
</div>

@Scripts.Render("~/bundles/Pages/Account/Register", "~/bundles/messager")
@Styles.Render("~/Content/Pages/Account/Register")