@{
    ViewBag.Title = "Добавить новый пост";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="big-size-without-right-margin">
    <div id="type-div">
        <a id="simple" href="@Url.Action("AddSimplePost", "AddPost")">Обычный пост</a>
        <a id="video" href="@Url.Action("AddVideoPost", "AddPost")">Видео пост</a>
    </div>
    <div id="content-div">
        <p>
            @RenderBody()
        </p>
    </div>
    <div data-create="separate-line"></div>
    <p id="message"></p>
</div>

@Styles.Render("~/Content/Pages/AddPost/_AddPostLayout", "~/Content/tag-it")
@Scripts.Render("~/bundles/messager",
                "~/bundles/postManager",
                "~/bundles/videoManager",
                "~/bundles/tag-it")