@using Models.Data
@using ZaBugrom.Extensions
@model Models.Data.PostData

<div class="post-area">
    <div class="post @Html.GetPostClassByType(Model.PostType)" data-id="@Model.Id">
        <div class="post-header">
            <a class="title" href="@Url.Action("DetailPost", new { postId = Model.Id})">@Model.Title</a>
            @Html.Action("RatingVoterForPost", "Element", new { post = Model })
        </div>
        @Html.Action("TagArea", "Element", new { tagList = @Model.TagList })
        @RenderBody()
    </div>
</div>

@Styles.Render("~/Content/Pages/Post/_PostLayout")