@using ZaBugrom.Extensions
@model Models.Data.PostData

<div class="post-area">
    <div class="post-left-area">
        <a class="post-rating-up"></a>
        <label>@Model.Rating</label>
        <a class="post-rating-down"></a>
    </div>
    <div class="post @Html.GetPostClassByType(Model.PostType)">
        <div class="post-header">
            <a href="@Url.Action("DetailPost", new { postId = Model.Id})">@Model.Title</a>
        </div>
        @RenderBody()
        <div class="post-foorer">
            <a href="#" title="Перейти к комментариям">Комментарии</a>
            <div class="right-footer-area">

            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/Pages/Post/_PostLayout")