@model Models.Data.PostData

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="post-area">
    <div id="post-title" data-id="@Model.Id">
        <label id="title">@Model.Title</label>
        @Html.Action("RatingVoterForPost", "Element", new { post = Model })
    </div>
    @Html.Action("Post", "Post", new { postData = Model, isRichView = false })
    <div id="post-footer">
        <label>Добавлено @Model.AddTime.ToLongDateString() @Model.AddTime.ToLongTimeString()</label>
        @if (WebSecurity.HasUserId)
        {
            <a id="reply">Ответить</a>   
        }
    </div>
</div>
<div id="comment-area">
    @Html.Action("CommentAreaForPost", "Comment", new { postId = @Model.Id })
</div>

<div id="editor">
    @Html.Action("PostEditor", "Element")
    <div id="editor-footer">
        <button id="send">Отослать</button>
    </div>
</div>

@Scripts.Render("~/bundles/Pages/Post/DetailPost",
    "~/bundles/postManager",
    "~/bundles/mover",
    "~/bundles/videoManager")
@Styles.Render("~/Content/Pages/Post/DetailPost", "~/Content/parseData")