@model Models.Data.PostData

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="post-area">
    <div id="post-title">
        @Model.Title
    </div>
    <div></div>
    @Html.Action("Post", "Post", new { postData = Model, isRichView = false })
</div>
<div id="comment-area">
    @Html.Action("CommentAreaForPost", "Element", new { postId = @Model.Id })
</div>

@Scripts.Render("~/bundles/Pages/Post/DetailPost", "~/bundles/postManager")
@Styles.Render("~/Content/Pages/Post/DetailPost")